[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=apiservice
Group=apiservice
WorkingDirectory=/home/apiservice/app/src/
Environment="PATH=/home/apiservice/app/venv/bin"
EnvironmentFile=/home/apiservice/.env
ExecStart=/home/apiservice/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target